.project {
  padding: 400px 0 100px;
}

.desc {
  margin: 0;
  font-family: "YuMincho", "Yu Mincho", serif;
  font-size: 26px;
  color: #fff;
  letter-spacing: 0.17em;
  letter-spacing: 0.05em;
}

.boxWrap {
  display: flex;
}
