.box {
  position: relative;
  width: calc(100% / 4);
  height: calc(100% / 4);
  overflow: hidden;
  color: #fff;
  background: #fff;

  a {
    display: block;

    &:hover {
      .box__back {
        transition: all 0.5s;
        transform: scale(1.1);
      }
    }
  }

  &__back {
    transition: all 0.5s;
  }

  &__top,
  &__bottom {
    position: absolute;
    padding: 25px;
    color: #fff;
  }

  &__top {
    top: 0;
    line-height: 1;
  }

  &__bottom {
    bottom: 0;
    font-size: 10px;
  }

  .main {
    font-size: 18px;
  }

  p {
    line-height: 1.8;
  }
}
