@import "/src/styles/abstracts/functions";
@import "/src/styles/abstracts/variables";
@import "/src/styles/abstracts/mixins";

.viewWrap {
  text-align: center;

  @include media-breakpoint-up(md) {
    text-align: left;
  }
}

.view {
  position: relative;
  z-index: 1;
  display: inline-block;
  width: 272px;
  padding: 22px 40px;
  overflow: hidden;
  font-family: "Source Sans Pro", sans-serif;
  color: #000;
  text-align: left;
  background-color: #fff;
  transition: all 0.5s;

  &::after {
    position: absolute;
    top: 45%;
    right: 40px;
    display: inline-block;
    width: 50px;
    height: 5px;
    margin: 0 auto;
    content: "";
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
    transition: all 0.5s;
    transform: skewX(45deg);
  }

  span {
    position: absolute;
    z-index: -1;
    display: block;
    width: 0;
    height: 0;
    background-color: #000;
    border-radius: 50%;
    transition: width 0.4s ease-in-out, height 0.4s ease-in-out;
    transform: translate(-50%, -50%);
  }

  &:hover {
    color: #fff;
    transition: all 0.5s;

    &::after {
      border-right: 1px solid#fff;
      border-bottom: 1px solid#fff;
      transition: all 0.5s;
    }

    span {
      width: 225%;
      height: 600px;
    }
  }

  &.view--bk {
    color: #fff;
    background-color: #000;
    border: 1px solid #000;

    &::after {
      border-right: 1px solid #fff;
      border-bottom: 1px solid#fff;
    }

    span {
      background-color: #fff;
    }

    &:hover {
      color: #000;
      border: 1px solid #000;

      &::after {
        border-right: 1px solid#000;
        border-bottom: 1px solid#000;
      }
    }
  }
}
