.footer {
  background-color: #444;
  padding: 26px 0 57px;
  color: #fff;
}

.footerContainer {
  display: flex;
}

.culumn {
  flex: 1;
}

.menu {
  margin-top: 30px;

  &__title {
    padding: 10px 0;
    font-size: 15px;
    font-weight: 600;
  }

  &__item {
    padding: 8px 0;
    font-size: 12px;
  }
}
