.nav {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  gap: 20px;
  
  @media (max-width: 767px) {
    display: none;
  }
  
  li {
    position: relative;
    padding: 0 20px;
    
    &::after {
      position: absolute;
      top: 2px;
      right: 0;
      content: '';
      display: inline-block;
      width: 10px;
      height: 10px;
      transform: rotate(45deg);
      border-bottom: solid 2px #888;
      border-right: solid 2px #888;
    }
  }
}
