.secTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__container {
    display: flex;
    flex-direction: column;
  }

  &__title {
    display: inline-block;
    margin: 0 0 3px 25px;
    font-size: 18px;
    font-style: italic;
    line-height: 1.5;
    color: #8c9396;
  }

  &__desc {
    font-family: "Yu Mincho", sans-serif;
    font-size: 26px;
    font-weight: 400;
    line-height: 1.211;
    color: #19282d;
  }
}
