.open,
.close {
  padding: 20px;
  border: solid 1px #aaa;
}

.text {
  height: 0;
  padding-top: 20px;
  overflow: hidden;
  transition: height 0.5s;
}

.open .text {
  height: var(--text-height);
}
